.main{
    width:1920px;
    height:1080px;
    background-color: white;
    display: flex;
}
.picture-half img{
    width:1084px;
    height:1084px;
}
.white-half{
    width:836px;
    height:1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:22px;
}
.logo{
    width:303px;
    height:242px;
    margin-top:182px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 354px;
    gap:22px;
    height: 304px;
    direction: rtl;
}
.input{
    background-color: #F7F8FA;
    width: 100%;
    /* height: 48px; */
    direction: rtl;
    border: none;
    /* padding: 15px 12px; */
    height: 48px;
    padding-right:12px;
    border-radius: 13px;
}
.input::placeholder{
    color:#A5A5A5;
    font-size: 13px;
    /* padding-right:12px; */
}
.label{
  font-size: 16px;
  font-weight: 400;
  color: #190C33;
  padding-right: 8px;
}
.form-div{
    width: 100%;
    height: 106px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.sentence{
  font-size: 18px;
  font-weight: 400;
}
.btn{
    width:100% ;
    /* padding: 8px 16px; */
    height: 48px;
    background-color:#234C6A ;
    font-size:16px;
    border-radius: 12px;
    color:white ;
}